@tailwind base;
@tailwind components;
@tailwind utilities;

body,
html {
  overflow-x: hidden;
}

@layer utilities {
  .scrollbar-thin {
    scrollbar-width: thin;
    scrollbar-color: rgba(209, 213, 219, 0.5) rgba(209, 213, 219, 0.5);
  }

  .scrollbar-webkit::-webkit-scrollbar {
    width: 6px;
  }

  .scrollbar-webkit::-webkit-scrollbar-track {
    background-color: rgba(209, 213, 219, 0.5);
  }

  .scrollbar-webkit::-webkit-scrollbar-thumb {
    background-color: rgba(209, 213, 219, 0.5);
    border-radius: 6px;
    border: 2px solid transparent;
  }
}
